
ion-footer {
    ion-toolbar {
      background-color: #120202; // Couleur de fond
      border-top: 1px solid #827272; // Bordure supérieure
    }
  }
  .large {
  font-size: 3rem;
  padding-left: 5px;
  padding-right: 5px;
}
