ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Assure que le contenu est centré verticalement */
  }
  
  ion-card {
    width: 90%; /* Ajustez la largeur de la carte selon vos besoins */
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  
    img {
      width: 60%;
      height: auto;
      max-width: 100%;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
  
    ion-card-header {
      ion-card-title {
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 8px;
      }
    }
  
    ion-card-content {
      p {
        margin-bottom: 6px;
        line-height: 1.4;
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    ion-card {
      img {
        border-radius: 12px 12px 0 0;
      }
    }
  }
  