
ion-content{
      background-image: url('../../assets/iOS/restobkgnd.png');
      background-repeat: no-repeat;
      background-size: cover;
      --background: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 20px; /* Ajoutez un padding pour éviter que le contenu ne soit collé aux bords */

  p {
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .restaurant-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacement entre les cartes */
    margin-top: 20px; /* Ajoute un espace au-dessus des cartes */
  }

  .restaurant-card {
    width: 250px; /* Largeur fixe des cartes */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    ion-card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 16px;
      width: 100%;

      .restaurant-image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 12px;
      }

      ion-card-title {
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 8px;
        text-align: center;
      }

      ion-button {
        width: 70%; /* Largeur du bouton réduite */
        --background: #419fe7;
        --color: #ffffff;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
}
