<app-header></app-header>

<ion-content id ="container" class="ion-padding">
  <ion-list>
    <ion-header class="liste">
      <h1>Tous les eaux mènent à Thibault</h1>
      <p>06.63.99.78</p>
      <p>labateauthibault@gmail.com</p>
      <p>facebook.com/lebateauthibault</p>
    </ion-header>
    <ion-item *ngFor="let boat of boatsList" >
      <ion-label>
        <ion-button (click) ="onLoadBoats(boat)">Nom du bateau : {{boat.name}}</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer-tab></app-footer-tab>