<ion-header>
  <ion-toolbar>
    <!-- Add your logo -->
    <ion-buttons slot="start">
      <ion-button>
        <ion-img src="../../../assets/icon/logoBT.png" class="logo" alt="logo"></ion-img> <!-- Replace 'logo-custom' with your icon name -->
      </ion-button>
    </ion-buttons>

    <!-- Add a home button -->
    <ion-title>
      Bateau Thibault
    </ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/home"> <!-- Update 'home' with your home route -->
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

