<ion-menu  side="end" contentId="main-content" class="sizeMenu">
  <ion-content  > 
    <ion-list side="end" >
      <ion-item routerLink="/products">
        <ion-label>  <ion-icon name="fish"></ion-icon>  Produits et Promotions</ion-label>
      </ion-item>
      <ion-item routerLink="/boats">
        <ion-label> <ion-icon name="boat"></ion-icon>  Bateau</ion-label>
      </ion-item>
      <ion-item routerLink="/restaurants">
        <ion-label> <ion-icon name="restaurant"></ion-icon> Restaurant</ion-label>
      </ion-item>
      <ion-item routerLink="/recipes">
        <ion-label> <ion-icon name="book"></ion-icon> Recettes</ion-label>
      </ion-item>
      <ion-item routerLink="/contact">
        <ion-label> <ion-icon name="call"></ion-icon> Contact</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>


<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-buttons>
        <ion-title>
          <ion-img src="../../../assets/icon/logoBT.png" class="logo" alt="logo"></ion-img>
        </ion-title>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>
       

