<ion-header>
  <ion-toolbar>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      {{ restaurantInfo.name }}
    </ion-card-header>
    <ion-card-content>
         <p>Nom : {{ restaurantInfo.name }}</p>
         <p>Numéro de téléphone : {{ restaurantInfo.phoneNumber }}</p>
         <p>Email : {{ restaurantInfo.email }}</p>
         <p>Facebook : {{ restaurantInfo.facebook }}</p>

    </ion-card-content>
  </ion-card>
</ion-content>
