
ion-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50%;
    
  }
  
  ion-card {
    width: 50%; 
    border: 2px solid #87CEEB;
    margin-left: 20px;
  }
  