<app-header></app-header>
<ion-content>
  <ion-title  class="title-large">Contact</ion-title>
  <ion-icon name="location" class="logoLocation"></ion-icon>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bateau Thibault</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><ion-icon name="call"></ion-icon> 06.99.88.45.23</p>
      <p><ion-icon name="mail"></ion-icon> lebateauthibault@gmail.com</p>
      <p><ion-icon name="logo-facebook"></ion-icon> facebook.com/lebateauthibault</p>
    </ion-card-content>
  </ion-card>
</ion-content>
<app-footer-tab></app-footer-tab>