
ion-content{
  background-image: url('../../assets/img/global/fishing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  --background: none;
}
  
  ion-card {
    // border: 2px solid #87CEEB;
    padding: auto;
    opacity: 0.8;
  } 

  ion-title.title-large {
    color: white;
    font-size: 2rem;
    padding: 10%;
    text-align: center;
  }
  p{ 
    font-size: 1.2rem;
  }
  ion-card-title{
    text-align: center;
    font-size: 1.4rem;
  }
  .logoLocation{
    display: block;
    margin: auto;
    font-size: 5rem;
    color: white;
  }