.background-image{
        background-image: url('../assets/iOS/background.png');
        background-size: cover;
        background-position: center;
        height: 100vh; 
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff; 
        font-size: 24px;
      }


      