ion-content{
  --background: none;
  --background-image: url('../assets/iOS/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}
// ion-content {
//         --background: none;
//         background-image: url('../../assets/img/global/back.jpg');
//         background-repeat: no-repeat;
//         background-size: cover;
//       }