<app-header></app-header>

<ion-content class="ion-padding">
  <ion-title></ion-title>
  <ion-card>
    <img [alt]="product.name" [src]="product.img" />
    <ion-card-header>
      <ion-card-title>{{product.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Catégorie : {{ product.category}}</li>
        <li> Prix : {{ product.price}} € <span> {{ product.unit }}</span></li>
        <li *ngIf="product.discount > 0">Promotion : {{ product.discount }} %</li>
        <li>Proriétaire : {{ product.owner}}</li>
      </ul>
      <!-- <img [alt]="product.owner" [src]="product" /> -->
    </ion-card-content>
  </ion-card>
</ion-content>
<app-footer-tab></app-footer-tab>