ion-content{
    background-image: url('../../assets/img/global/fishing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    --background: none;
}

ion-list{
    margin: 3px;
    opacity: 0.7;
}

h1{
    text-align: center;
}

.itemList{
    display: flex; 
    justify-content: space-between; 
    align-items: center
}
.singleNameListe{
    text-align: left;
    overflow-wrap: break-word;
    margin-left: 4px;
}

.productName{
    display: flex; 
    justify-content: space-around; 
    align-items: center
}

